{% extends "base.html" %}

{% block content %}
    <h1>{{ title_content }}</h1>
    <div class="lead">
        {% for item in main_content %}
            <ul class="list-group list-group-horizontal justify-content-between border-0">
                <li class="list-group-item disabled" aria-disabled="true">{{ item.en }}</li>
                {% for _ in range(5) %}
                    <li class="list-group-item">{{ item.ru }}</li>
                {% endfor %}
            </ul>

        {% endfor %}
    </div>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
{% endblock %}